@import './variables.scss';
@import './base.scss';

@media (hover: hover) {
  a:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

a.router-link-active {
  color: #c35500;
}

.ds-primary-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0f1e25;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: width 0.3s;
  font-size: 16px;

  &:hover {
    background-color: #c35500;
  }

  &:disabled {
    background-color: #ccc;
    cursor: default;
  }

  &--round {
    height: 32px;
    width: 32px;
    border-radius: 50%;
  }
}
